.page.theme_dark {
  --background-color: #000028;
  --title-color: #DB00FF;
  --text-color: #F1B2CE;
  --accent-color: #ff0070;
  --background: url(../images/cover-image-dark.png);
}

h2 {
  --text-color: var(--accent-color);
}

h3 {
  --text-color: var(--background-color);
}

h4 {
  --text-color: var(--background-color);
}

.header__text {
  --text-color: var(--background-color);
}

.decoration__element-rec {
  display:block;
  }

.decorated-zone {
  --text-color: var(--accent-color);
}



@media (prefers-color-scheme: dark) {
  .page {
    --background-color: #000028;
    --title-color: #DB00FF;
    --text-color: #F1B2CE;
    --accent-color: #ff0070;
    --background: url(../images/cover-image-dark.png);
  }

  h2 {
    --text-color: var(--accent-color);
  }
  
  h3 {
    --text-color: var(--background-color);
  }
  
  h4 {
    --text-color: var(--background-color);
  }
  
  .header__text {
    --text-color: var(--background-color);
  }
  
  .decoration__element-rec {
    display:block;
    }
  
  .decorated-zone {
    --text-color: var(--accent-color);
  }
}

