.page.theme_dark {
  --background-color: #000028;
  --title-color: #DB00FF;
  --text-color: #F1B2CE;
  --accent-color: #ff0070;
  --background: url(../images/cover-image-dark.png);
  --transparency_level: .5;
}

.page.theme_dark .header__text {
  --text-color: var(--background-color);
}

.page.theme_dark .decoration__element-rec {
  display:block;
  }

.page.theme_dark .decorated-zone {
  --text-color: var(--accent-color);
}

@media (prefers-color-scheme: dark) {
  :root,
  .page.theme_auto {
    --background-color: #000028;
    --title-color: #DB00FF;
    --text-color: #F1B2CE;
    --accent-color: #ff0070;
    --background: url(../images/cover-image-dark.png);
    --transparency_level: .5;
  }

  :is(.page.theme_auto, :root) .header__text {
    --text-color: var(--background-color);
  }

  :is(.page.theme_auto, :root) .decorated-zone {
    --text-color: var(--accent-color);
  }

  :is(.page.theme_auto, :root) .decoration__element-rec {
    display:block;
    }
}

