.page.theme_dark {
  --background-color: #000028;
  --title-color: #DB00FF;
  --text-color: #F1B2CE;
  --accent-color: #ff0070;
  --background: url(../images/cover-image-dark.png);
}

.page.theme_dark .header__text {
  --text-color: var(--background-color);
}

.page.theme_dark .decoration__element-rec {
  display:block;
  }

.page.theme_dark .decorated-zone {
  --text-color: var(--accent-color);
}

@media (prefers-color-scheme: dark) {
  .page {
    --background-color: #000028;
    --title-color: #DB00FF;
    --text-color: #F1B2CE;
    --accent-color: #ff0070;
    --background: url(../images/cover-image-dark.png);
  }

  .header__text {
    --text-color: var(--background-color);
  }

  .decorated-zone {
    --text-color: var(--accent-color);
  }

  .decoration__element-rec {
    display:block;
    }
}

