*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0px;
  padding: 0px;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

html {
  font-size: 16px;
}

picture {
  margin: 0;
  padding: 0;
}

button,
a {
  color: currentColor;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
