.page.theme_light {
  --background-color: #FFF1F7;
  --title-color: #FFC2E6;
  --text-color: #353430;
  --accent-color: #ff8dcb;
  --accent-color2: #FF0070;
  --background: url(../images/cover-image-light.png);
}

.page.theme_light  .decoration__element-rec {
  display:none;
}

.page.theme_light :is(.decorated-zone, .header__text, .header__theme-menu-button, h2, h3, span) {
  color: var(--text-color);
}

@media (prefers-color-scheme: light) {
    .page.theme_auto {
      --background-color: #FFF1F7;
      --title-color: #FFC2E6;
      --text-color: #353430;
      --accent-color: #ff8dcb;
      --accent-color2: #FF0070;
      --background: url(../images/cover-image-light.png);
    }

    .page.theme_auto .decoration__element-rec {
    display:none;
    }

    .page:before {
      content: none;
    }

    .page.theme_auto :is(.decorated-zone, .header__text, .header__theme-menu-button, h2, h3, span) {
      color: var(--text-color);
    }
}

@media  (orientation: landscape) {
  .header__title {
    --accent-color: var(--accent-color2);
  }
}



