.page.theme_light {
  --background-color: #FFF1F7;
  --title-color: #FFC2E6;
  --text-color: #353430;
  --accent-color: #ff8dcb;
  --background: url(../images/cover-image-light.png);
  --transparency_level: 0;
}


@media  (orientation: landscape) {
  .header__title {
    --accent-color: #FF0070;
  }
}

