.main {
  padding-inline: var(--mar_padd_);
}

.page {
  font-size: 18px;
  min-inline-size: var(--min-inline-size);
  font-family: 'IBM Plex mono', 'Courier New', monospace;
  background: var(--background-color) var(--background) fixed no-repeat center / cover;
}

.header {
  padding-inline: var(--mar_padd_);
}

.decorated-zone {
  position: relative;
  block-size: 100dvh;
  display: grid;
  grid-template-rows: calc(25px + var(--mar_padd_)) calc(0.266467* 100dvh) 1fr calc(0.266467* 100dvh) calc(25px + var(--mar_padd_));
}

.decorated-zone:before {
  content: '';
  inline-size: 25px;
  block-size: 25px;
  border-block-start: 1px solid var(--text-color);
  border-inline-end: 1px solid var(--text-color);
  margin-block-start: var(--mar_padd_);
  justify-self: end;
}

.decorated-zone:after {
  content: '';
  inline-size: 25px;
  block-size: 25px;
  border-block-end: 1px solid var(--text-color);
  border-inline-start: 1px solid var(--text-color);
  margin-block-end: var(--mar_padd_);
  align-self: end;
}

.decoration__element-rec {
  position: absolute;
  inset-block-start: calc(11px + var(--additional_margin_rec, 0));
  inset-inline-end: calc(18px + var(--additional_margin_rec, 0));
  display: var(--decoration__display);
}

.decoration__element-rec:before {
  content: 'REC';
  text-shadow: none;
  display: var(--decoration__display);
}

.decoration__element-rec:after {
  content: '';
  box-shadow: 0 0 4px 2px;
  border: 5px solid;
  border-radius: 5px;
  display: var(--decoration__display);
  margin-inline-start: 10px;
}

.header__theme-menu {
  position: var(--menu-position);
  inset-block-end: 26px;
  align-self: var(--menu-align);
}

.header__theme-menu-list {
list-style: none;
padding: 0;
display: flex;
flex-direction: var(--menu-flex-direct);
gap: 10px;
justify-content: center;
align-items: flex-end;
}

.header__theme-menu-item {
  color: var(--text-color);
}

.header__theme-menu-button {
  background: none;
  border: none;
  text-transform: lowercase;
  line-height: 18px;
  align-content: center;
  font-size: 18px;
  padding: 4px 13.5px;
}

.header__theme-menu-button_active {
  border: none;
  outline: 1px solid currentColor;
}

.header__theme-menu-button:active {
  border: none;
  outline: 1px solid currentColor;
}

.header__theme-menu-button:hover {
  border: none;
  outline: 1px solid var(--hover_border-color);
  cursor: pointer;
}

.header__theme-menu-button:focus {
  outline: none;
  border-block-end: 1px solid currentColor;
  block-size: 26px;
}

.header__theme-menu-button:focus-visible {
  outline: none;
  border-block-end: 1px solid currentColor;
  block-size: 26px;
}

.header__theme-menu-button_active:hover {
  border: none;
  outline: 1px solid currentColor;
}

.header__title {
  font-size: var(--h1-font_size);
  line-height: 6rem;
  text-shadow: var(--shadow_title, 4px 4px) var(--accent-color);
  color: var(--title-color);
  font-weight: 700;
  align-self: center;
}

.header__text {
  line-height: 23.4px;
  font-weight: 700;
  inline-size: var( --title-text_inline_size);
  align-self: center;
  background-color: var(--accent-color);
  color: var(--text-color);
}

.section {
  line-height: 23.4px;
  margin-block-start: 50px;
}

.section:first-child {
  margin-block-start: 40px;
}

.section:last-child {
  margin-block-end: 40px;
}

a {
  text-decoration: none;
  color: currentColor;
  text-shadow: 2px 1px var(--accent-color);
}

a:hover {
  border-block-end: 1px solid;
}

a:focus {
  outline: 1px solid;
}

a:focus-visible {
  outline: 1px solid;
}

h2 {
  font-size: 18px;
  font-weight: 700;
  letter-spacing: var(--letter-spacing);
  margin-block-end: 20px;
  color: var(--text-color);
}

h2:has(+ img) {
  margin-block-end: 0;
}

h3 {
  font-size: 18px;
  font-weight: 700;
  letter-spacing: var(--letter-spacing);
  margin-block-end: 10px;
  color: var(--text-color);
  background-color: var(--accent-color);
}

h4 {
  font-weight: 400;
  margin-block-end: 10px;
  color: var(--text-color);
  background-color: var(--accent-color);
  display: block;
}

p {
  color: var(--text-color);
}

.article {
  margin-block-end: 20px;
  word-spacing: var(--word-spacing);
}

.article:last-child {
  margin-block-end: 0;
}

.content__figure {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  align-items: stretch;
  grid-auto-flow: row;
}

.section.content__figure > h2 {
  inline-size: auto;
  background-color: var(--accent-color);
  grid-column: span 3;
  grid-row: 1;
}

.content__picture {
  inline-size: 100%;
}

.content__picture:first-of-type {
  grid-column: span 2;
}

.content__picture:last-of-type {
  grid-column: span 2;
}

.content__picture:nth-of-type(2) {
  grid-row: span 2;
  object-fit: cover;
}

.content__picture:nth-of-type(3) {
  grid-row: span 2;
  object-fit: cover;
}

.footer {
  padding-inline: var(--mar_padd_);
}

.footer.decorated-zone {
  grid-template-rows: calc(25px + var(--mar_padd_)) 1fr calc(25px + var(--mar_padd_));
}

.footer .header__title {
  align-self: center;
  justify-self: center;
  margin-bottom: 0;
}

@media (width < 768px) {
  .content__figure {
    gap: 10px;
    display: flex;
    flex-direction: column;
   }

  .article:first-of-type > h4 {
    margin-block-start: 20px;
    }
}

@media (768px <= width) {
  .header > .header__title {
    position: relative;
    inset-inline-end: 20px;
  }

  .header__text {
    justify-self: end;
  }

  .section {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-block-start: 80px;
    column-gap: 10px;
  }
  
  .section:first-child {
    margin-block-start: 60px;
  }

  .section h2 {
    grid-row: span 10;
  }

  .content__figure {
    grid-auto-flow: row;
  }

  .section:nth-of-type(even) {
    grid-template-columns: repeat(3, 1fr);
    display: grid;
    grid-template-rows: auto auto;
    grid-auto-flow: column;
    column-gap: 20px;
  }

  .section:nth-of-type(even):not(:last-of-type) h2 {
    grid-column: span 3;
    grid-row: 1;
    inline-size: min-content;
  }

  .section:last-of-type {
    grid-auto-flow: row;
    row-gap: 20px;
    align-items: stretch;
    margin-block-end: 60px;
  }

  .section:first-of-type .article:first-of-type > h4 {
    margin-block-start: 0;
  }

  .article:first-of-type > h4 {
    margin-block-start: 10px;
  }
  
}

@media (768px <= width ) and (orientation: portrait) {
  .section:nth-child(even):not(:last-child) {
    display:block;
  }

  .decorated-zone {
    grid-template-rows: calc(25px + var(--mar_padd_)) calc(0.38085938 * 100dvh) 1fr calc(0.38085938 * 100dvh) calc(25px + var(--mar_padd_));
  }

  footer.decorated-zone {
    grid-template-rows: calc(25px + var(--mar_padd_)) 1fr calc(25px + var(--mar_padd_));
  }

  .section {
    column-gap: 20px;
  }
}

@media (768px <= width ) and (orientation: landscape) {
    .section:nth-child(2) h2 {
    inline-size: calc(100% / 3);
  }

  .decorated-zone {
    grid-template-rows: calc(25px + var(--mar_padd_)) calc(0.32421875* 100dvh) 1fr calc(0.32421875* 100dvh) calc(25px + var(--mar_padd_));
  }

  footer.decorated-zone {
    grid-template-rows: calc(25px + var(--mar_padd_)) 1fr calc(25px + var(--mar_padd_));
  }

  p,
  h2,
  h3 {
    word-spacing: -0.1em;
  }
}

