.page {
  font-size: 18px;
  min-inline-size: var(--min-inline-size);
  font-family: 'IBM Plex mono';
  max-inline-size: 984px;
  color: var(--text-color);
  padding-inline: var(--mar_padd_);
  margin-block: 0;
  background-color: var(--background-color);
  background-attachment: fixed;
}

.header {
  background-image: var(--background);
  background-position: center;
  background-size: cover;
  position: relative;
  inline-size: calc(100dvw - var(--mar_padd_)*2);
  inset-inline-end: var(--mar_padd_);
  padding-inline: var(--mar_padd_);
  z-index: 1;
  justify-content: space-between;
}

.decorated-zone {
  block-size: 100dvh;
  color: var(--text-color);
  display: grid;
  grid-template-rows: calc(25px + var(--mar_padd_)) calc(0.266467* 100dvh) 1fr calc(0.266467* 100dvh) calc(25px + var(--mar_padd_));
}

.footer.decorated-zone {
  grid-template-rows: calc(25px + var(--mar_padd_)) 1fr calc(25px + var(--mar_padd_));
}

.decorated-zone:before {
  content: '';
  inline-size: 25px;
  block-size: 25px;
  border-block-start: 1px solid currentColor;
  border-inline-end: 1px solid currentColor;
  margin-block-start: var(--mar_padd_);
  justify-self: end;
}

.decorated-zone:after {
  content: '';
  inline-size: 25px;
  block-size: 25px;
  border-block-end: 1px solid currentColor;
  border-inline-start: 1px solid currentColor;
  margin-block-end: var(--mar_padd_);
  align-self: end;
}

.decoration__element-rec {
  display: block;
  position: absolute;
  inset-block-start: calc(11px + var(--additional_margin_rec, 0));
  inset-inline-end: calc(18px + var(--additional_margin_rec, 0));
}

.decoration__element-rec:before {
  content: 'REC';
  text-shadow: none;
  display: inline-block;
}

 .decoration__element-rec:after {
  content: '';
  box-shadow: 0 0 4px 2px;
  border: 5px solid;
  border-radius: 5px;
  display: inline-block;
  margin-inline-start: 10px;
 }

.header__title {
  font-size: var(--h1-font_size);
  line-height: 6rem;
  text-shadow: var(--shadow_title, 4px 4px) var(--accent-color);
  color: var(--title-color);
  font-weight: 700;
  align-self: center;
}

.header__text {
  line-height: 23.4px;
  font-weight: 700;
  color: var(--background-color);
  inline-size: var( --title-text_inline_size);
  align-self: center;
  background-color: var(--accent-color);
}

.header__theme-menu {
    position: var(--menu-position);
    inset-block-end: 138px;
    align-self: center;
}

.header__theme-menu-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: var(--menu-flex-direct);
  gap: 10px;
  justify-content: center;
  align-items: flex-end;
}

.header__theme-menu-item {
  color: var(--accent-color);
}

.header__theme-menu-button {
  background: none;
  border: none;
  text-transform: lowercase;
  line-height: 18px;
  align-content: center;
  font-size: 18px;
  font-family: 'IBM Plex mono';
  padding: 4px 13.5px;
  color: var(--accent-color);
}

.header__theme-menu-button_active {
  border: none;
  outline: 1px solid currentColor;
}

.header__theme-menu-button:focus,
.header__theme-menu-button:focus-visible {
  border: none;
  outline: none;
}

.header__theme-menu-button:disabled {
  color: currentColor;
}

.header__theme-menu-button:active {
  border: none;
  outline: 1px solid currentColor;
}

section {
  line-height: 23.4px;
  margin-block-start: 50px;
}

section:first-child {
  margin-block-start: 40px;
}

section:last-child {
  margin-block-end: 40px;
}

section h2,
section h3 {
  font-size: 18px;
  font-weight: 700;
}

section p {
  margin-block-end: 20px;
}

section p:last-child {
  margin-block-end: 0;
}

section a {
  text-decoration: none;
  color: currentColor;
  text-shadow: 2px 1px var(--accent-color);
}

section a:hover {
  border-block-end: 1px solid;
}

section h2 {
  margin-block-end: 20px;
  color: var(--accent-color);
}

section h3 {
  margin-block-end: 10px;
  color: var(--background-color);
  background-color: var(--accent-color);
}

h3:has(+ img) {
  margin-block-end: 0;
}

span {
  font-weight: 400;
  margin-block-end: 10px;
  color: var(--background-color);
  background-color: var(--accent-color);
  display: block;
}

.content__figure {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  align-items: stretch;
  grid-auto-flow: row;
}

.content__figure h3 {
  grid-column: span 3;
}

 .content__picture {
  inline-size: 100%;
}

.content__picture:first-of-type,
.content__picture:last-of-type {
  grid-column: span 2;
}

.content__picture:nth-of-type(2),
.content__picture:nth-of-type(3) {
  grid-row: span 2;
  object-fit: cover;
}

.footer .header__title {
  --shadow_title: 2px 2px;
  align-self: center;
  justify-self: center;
}

@media (width < 768px) {
  .content__figure {
    gap: 10px;
    display: flex;
    flex-direction: column;
   }

  section p:first-of-type span {
    margin-block-start: 20px;
    }
}

@media (768px <= width) {
  .header > .header__title {
    position: relative;
    inset-inline-end: 20px;
  }

  .header__text {
    justify-self: end;
  }

  section {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-block-start: 80px;
    column-gap: 10px;
  }
  
  section:first-child {
    margin-block-start: 60px;
  }

  section h2 {
    grid-row: span 10;
  }

  section .content__figure {
    grid-auto-flow: row;
  }

  section:nth-child(even) {
    grid-template-columns: repeat(3, 1fr);
    display: grid;
    grid-template-rows: auto auto auto;
    grid-auto-flow: column;
    column-gap: 20px;
  }

  section:nth-child(even) h2 {
    grid-column: span 3;
    grid-row: 1;
    inline-size: min-content;
  }

  section:last-child {
    grid-auto-flow: row;
    row-gap: 20px;
    align-items: stretch;
    margin-block-end: 60px;
  }

  section p:first-of-type span {
    margin-block-start: 10px;
  }

  .header__theme-menu {
    inline-size: calc(100vw - 40px);
  }
  
}

@media (768px <= width ) and (orientation: portrait) {
  section:nth-child(even):not(:last-child) {
    display:block;
  }

  .decorated-zone {
    grid-template-rows: calc(25px + var(--mar_padd_)) calc(0.38085938 * 100dvh) 1fr calc(0.38085938 * 100dvh) calc(25px + var(--mar_padd_));
  }

  footer.decorated-zone {
    grid-template-rows: calc(25px + var(--mar_padd_)) 1fr calc(25px + var(--mar_padd_));
  }

  section {
    column-gap: 20px;
  }
}

@media (768px <= width ) and (orientation: landscape) {
    section:nth-child(even) h2 {
    inline-size: calc(100% / 3);
  }

  .decorated-zone {
    grid-template-rows: calc(25px + var(--mar_padd_)) calc(0.32421875* 100dvh) 1fr calc(0.32421875* 100dvh) calc(25px + var(--mar_padd_));
  }

  footer.decorated-zone {
    grid-template-rows: calc(25px + var(--mar_padd_)) 1fr calc(25px + var(--mar_padd_));
  }

}

