/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --background-color: #000028;
  --title-color: #DB00FF;
  --text-color: #F1B2CE;
  --accent-color: #ff0070;
  --background: url(../images/cover-image-dark.png);
}


@media (768px <= width) {
  :root {
  --additional_margin_rec: 10px;
  --mar_padd_: 20px;
  --min-inline-size: 728px;
  --menu-position: absolute;
  --menu-flex-direct: row;
  --h1-font_size: clamp(7.5rem, 0.5262rem + 14.5098vw, 9.8125rem);
  --title-text_inline_size: 50%;
  }
}

@media (width < 768px) {
  :root {
  --additional_margin_rec: 0px;
  --mar_padd_: 10px;
  --min-inline-size: 355px;
  --menu-position: static;
  --menu-flex-direct: column;
  --h1-font_size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --title-text_inline_size: 50%;

  
  }
}

@media (orientation: portrait) { 
  :root {
  --menu-position: static;
  --menu-flex-direct: column;
  }
}

